a {
  text-decoration: none;
}

/*=================HEADER======================*/
.header-logo-span-web {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 192;

  letter-spacing: 0.03em;

  color: #2196f3;
}

.header-logo-span-studio {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.384;

  letter-spacing: 0.03em;

  color: #212121;
}

.navigation-list-item-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  color: #212121;
}

.navigation-list-item-link:hover,
.navigation-list-item-link:focus {
  color: #2196f3;
}

.header-contact-item-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  color: #757575;
}

.header-contact-item-link:hover,
.header-contact-item-link:focus {
  color: #2196f3;
}
/*=================HEADER END======================*/

/*=================HERO======================*/

.hero-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.modal-btn {
  background-color: #2196f3;
}

.modal-btn-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}

/*=================HERO END======================*/

/*=================FEATURES======================*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list-item-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.features-list-item-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;

  letter-spacing: 0.03em;

  color: #757575;
}

/*=================FEATURES END======================*/

/*=================ACTIVITIES======================*/

.activities-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

/*=================ACTIVITIES END======================*/

/*=================TEAM======================*/

.team-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 167;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.team-list-item-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.team-list-item-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

/*=================TEAM END======================*/

/*=================FOOTER======================*/

.footer-adress-list-item-link-map {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;

  letter-spacing: 0.03em;

  color: #ffffff;
}

.footer-adress-list-item-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-logo-span-web {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 192;

  letter-spacing: 0.03em;

  color: #2196f3;
}

.footer-logo-span-studio {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.384;

  letter-spacing: 0.03em;

  color: white;
}

/*=================FOOTER END======================*/

/*=================PORTFOLIO======================*/
.projecs-list-item-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: #212121;
}

.projecs-list-item-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}

.portfolio-filters-list-item-button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
/*=================PORTFOLIO END======================*/
